In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import datetime as dt
from collections import Counter
print(os.listdir("../"))

['.git', '.ipynb_checkpoints', 'B4.ipynb', 'data', 'data.json', 'data_sf.csv', 'gadaem_number.ipynb', 'JoinTABLES.ipynb', 'log.csv', 'million', 'movies.csv', 'movies_example.txt', 'pyt_0.ipynb', 'ratings.csv', 'ratings_example.txt', 'sample.csv', 'Untitled.ipynb', 'Untitled1.ipynb', 'users.csv', 'Work_PANDAS.ipynb']

In [15]:
data = pd.read_csv('c:/Users/esmam/NEW_NOUT/million/data.csv')
data.head(5)
#data.columns

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [16]:
len(data)

1890

# Предобработка датасета

In [9]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data['dohod']=data['revenue']-data['budget']
data['release_date']=pd.to_datetime(data['release_date'])
data['r_month']=data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [22]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
#data[data['budget']==data.budget.max()]['original_title']
answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [23]:
#data[data['runtime']==data.runtime.max()]['original_title']
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [24]:
#data[data['runtime']==data.runtime.min()]['original_title']
answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [25]:
#data.runtime.mean()
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [26]:
#data.runtime.median()
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [27]:
#data[data['revenue']==data.revenue.max()]['original_title']
answer_ls.append(5)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [32]:
#data[data['dohod']==data.dohod.min()]['original_title']
answer_ls.append(2)

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [34]:
#data[data.dohod>0].count()
answer_ls.append(1)

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
dohod                   1478
dtype: int64

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [36]:
#data[data['dohod']==data[data.release_year==2008].dohod.max()]['original_title']
answer_ls.append(4)

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [37]:
#data[data['dohod']==data[(data.release_year>=2012)&(data.release_year<=2014)].dohod.min()]['original_title']
answer_ls.append(5)

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [39]:
#set_g=set(data.genres.str.split('|').sum())
#df_g_countFILM=pd.DataFrame(columns=['genres','countFILM'])
#for i in set_g:
#    df_g_countFILM.loc[i]=(i, len(data[data['genres'].str.contains(i)]))
#df_g_countFILM[df_g_countFILM['countFILM']==df_g_countFILM['countFILM'].max()]['genres']
#answer_ls.append(3)

Drama    Drama
Name: genres, dtype: object

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [40]:
#set_g=set(data.genres.str.split('|').sum())
#df_g_countFILM=pd.DataFrame(columns=['genres','countFILM'])
#for i in set_g:
#    df_g_countFILM.loc[i]=(i, len(data[(data['genres'].str.contains(i))&(data['dohod']>0)]))
#df_g_countFILM.sort_values(by='countFILM')
answer_ls.append(1)

Drama    Drama
Name: genres, dtype: object

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
#set_d=set(data.director.str.split('|').sum())
#set_d
#df_d_countFILM=pd.DataFrame(columns=['director','countFILM'])
#for i in set_d:
#    df_d_countFILM.loc[i]=(i, len(data[data['director'].str.contains(i)]))
#df_d_countFILM.sort_values(by='countFILM', ascending=False)
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [ ]:
#set_d=set(data.director.str.split('|').sum())
#set_d
#df_d_countFILM=pd.DataFrame(columns=['director','countFILM'])
#for i in set_d:
#    df_d_countFILM.loc[i]=(i, len(data[(data['director'].str.contains(i))&(data['dohod']>0)]))
#df_d_countFILM.sort_values(by='countFILM', ascending=False)
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [ ]:
#set_d=set(data.director.str.split('|').sum())
#set_d
#df_d_countFILM=pd.DataFrame(columns=['director','countFILM'])
#for i in set_d:
#    df_d_countFILM.loc[i]=(i, data[(data['director'].str.contains(i))&(data['dohod']>0)].dohod.sum())
#df_d_countFILM.sort_values(by='countFILM', ascending=False)
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [ ]:
#16
#set_acc=set(data.cast.str.split('|').sum())
#set_acc
#df_acc_countFILM=pd.DataFrame(columns=['cast','countFILM'])
#for i in set_acc:
#    df_acc_countFILM.loc[i]=(i, data[(data['cast'].str.contains(i))].dohod.sum())
#df_acc_countFILM.sort_values(by='countFILM', ascending=False)
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [ ]:
#17
#set_acc=set(data.cast.str.split('|').sum())
#set_acc
#df_acc_countFILM=pd.DataFrame(columns=['cast','countFILM'])
#for i in set_acc:
#    df_acc_countFILM.loc[i]=(i, data[(data['cast'].str.contains(i))&(data.release_year==2012)].dohod.sum())
#df_acc_countFILM.sort_values(by='countFILM', ascending=True)
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [ ]:
#18
#set_acc=set(data.cast.str.split('|').sum())
#set_acc
#df_acc_countFILM=pd.DataFrame(columns=['cast','countFILM'])
#for i in set_acc:
#    df_acc_countFILM.loc[i]=(i, data[(data['cast'].str.contains(i))&(data.budget.mean()<data.budget)].dohod.count())
#df_acc_countFILM.sort_values(by='countFILM', ascending=True)
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [ ]:
#19
#set_g=set(data.genres.str.split('|').sum())
#set_acc=set(data.cast.str.split('|').sum())
#df_acc_g_countFILM=pd.DataFrame(columns=['genre','countFILM'])
#for i in set_g:
#    df_acc_g_countFILM.loc[i]=(i, data[(data['genres'].str.contains(i))&(data['cast'].str.contains('Nicolas Cage'))].dohod.count())
#df_acc_g_countFILM.sort_values(by='countFILM', ascending=True)
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
#20
#set_prod=set(data.production_companies.str.split('|').sum())
#df_prod_countFILM=pd.DataFrame(columns=['production_companies','countFILM'])
#for i in set_prod:
#    df_prod_countFILM.loc[i]=(i, data[(data['production_companies'].str.contains(i))].dohod.count())
#df_prod_countFILM.sort_values(by='countFILM', ascending=True)
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
#21

#set_prod=set(data.production_companies.str.split('|').sum()) #список компаний
#df_prod=pd.DataFrame(set_prod, columns=['production_companies'])
#df_prod = df_prod.reindex(columns = ['production_companies', 'countFILM'])  
#df_prod['countFILM']=df_prod.apply(lambda x: data[(data['production_companies'].str.contains(x['production_companies']))&(data['release_year']==2015)]['production_companies'].count(), axis=1)
#df_prod.sort_values(by='countFILM', ascending=True)
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [ ]:
#22

#set_prod=set(data.production_companies.str.split('|').sum()) #список компаний
#df_prod=pd.DataFrame(set_prod, columns=['production_companies'])
#df_prod = df_prod.reindex(columns = ['production_companies', 'sumCOMEDY'])  
#df_prod['sumCOMEDY']=df_prod.apply(lambda x: data[(data['production_companies'].str.contains(x['production_companies']))&(data['genres']=='Comedy')]['dohod'].sum(), axis=1)
#df_prod.sort_values(by='sumCOMEDY', ascending=True)
answer_ls.append(3)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [ ]:
#23

#set_prod=set(data.production_companies.str.split('|').sum()) #список компаний
#df_prod=pd.DataFrame(set_prod, columns=['production_companies'])
#df_prod = df_prod.reindex(columns = ['production_companies', 'sumCOMEDY'])  
#df_prod['sumCOMEDY']=df_prod.apply(lambda x: data[(data['production_companies'].str.contains(x['production_companies']))&(data['release_year']==2012)]['dohod'].sum(), axis=1)
#df_prod.sort_values(by='sumCOMEDY', ascending=True)
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [ ]:
#24
#data[(data['production_companies'].str.contains('Paramount Pictures'))&
#     (data['dohod']==data[data['production_companies'].str.contains('Paramount Pictures')]['dohod'].min())]
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [ ]:
25#
#data_g=data.groupby(['release_year'])['dohod'].sum()
#data_g.sort_values()
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [ ]:
#26 Warner Bros
#data_g=data[data['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['dohod'].sum()
#data_g.sort_values()
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
#27
#data_month=data.groupby(['r_month'])['imdb_id'].count()
#data_month.sort_values()
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [ ]:
#28
#data_month[6]+data_month[7]+data_month[8]
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [ ]:
#29

#set_dir=set(data.director.str.split('|').sum()) #список компаний
#df_dir=pd.DataFrame(set_dir, columns=['director'])
#df_dir = df_dir.reindex(columns = ['director', 'countFILM'])  
#df_dir['countFILM']=df_dir.apply(lambda x: data[(data['director'].str.contains(x['director']))&(data['r_month']==12)]['imdb_id'].count()\
#                                 +data[(data['director'].str.contains(x['director']))&(data['r_month']==1)]['imdb_id'].count()\
#                                 +data[(data['director'].str.contains(x['director']))&(data['r_month']==2)]['imdb_id'].count(), axis=1)
#df_dir.sort_values(by='countFILM', ascending=False)
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
#30
#se_year=data.groupby(['release_year', 'r_month'])['dohod'].sum()
#df_year = se_year.to_frame().reset_index()
#df_year['max_year'] = df_year.apply(lambda x: df_year[x['release_year']==df_year['release_year']].dohod.max() , axis =  1)
#df_year[df_year.dohod==df_year.max_year].groupby(['r_month'])['r_month'].count().sort_values()
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
#set_words=set(data.original_title_low.str.split().sum()) #список слов
#len(set_words)
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
answer_ls.append(3)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
#35 не оптимальное, но сроки
#set_acc1=set(data.cast.str.split('|').sum()) #список актеров1
#df_acc=pd.DataFrame(columns=['acc1', 'acc2', 'countFILM'])
#cc=0
#for i in set_acc1:
#    for j in set(data[(data['cast'].str.contains(i))].cast.str.split('|').sum()):
#        if i!=j:
#            cc+=1
#            print(cc)
#            df_acc.loc[i+j]=(i, j, data[(data['cast'].str.contains(i))&(data['cast'].str.contains(j))]['original_title'].count())
#df_acc.sort_values(by='countFILM', ascending=False)
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
#36
#set_dir=['Quentin Tarantino','Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood'] #список директоров из вопроса
#set_dir=set(data.director.str.split('|').sum()) #список директоров всех, на общий случай
#df_dir=pd.DataFrame(set_dir, columns=['director'])
#df_dir['countFILM']=df_dir.apply(lambda x: data[data['director'].str.contains(x['director'])]['imdb_id'].count(), axis=1)
#df_dir['countFILM_prib']=df_dir.apply(lambda x: data[(data['director'].str.contains(x['director']))&\
#                                                    (data['dohod']>0)]['imdb_id'].count(), axis=1)
#df_dir['rel']=df_dir['countFILM_prib']/df_dir['countFILM']
#df_dir
answer_ls.append(4)

# Submission

In [6]:
len(answer_ls)

0

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []